<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MobideoEnvironmentUrl" value="https://bazanqa.mobideocloud.com" />
    <add key="CustomerTimeZone" value="Israel Standard Time" />
    <add key="UploadFileTarget" value="CustomerFiles" />
    <add key="MobideoUserName" value="IntegrationUser" />
    <add key="MobideoUserPassword" value="123456" />
    <add key="CustomerFilesImportFolderName" value="MSP Import" />
    <add key="CustomerFilesValidationFolderName" value="MSP Validate" />
    <add key="GetTaskPageSize" value="100" />
    <add key="MspFieldsToUpdate" value="Text5|TaskProgressStatus, Date9|Started, Date10|Completed, PercentComplete|ReportedProgress" />
    <add key="MinTaskOutlineLevel" value="3" />
    <add key="TaskReferenceIdSourceFields" value="Text6|0, UniqueID|0" />
    <add key="TaskReferenceIdFormat" value="{0}-{1}" />
    <add key="UpperTabText" value="Mobideo MSP VSTO" />
    <add key="UsernameLabelText" value="Username:" />
    <add key="PasswordLabelText" value="Password:" />
    <add key="LoginBtnText" value="Login" />
    <add key="ImportCompletedText" value="{0} files were uploaded successfully to mobideo. {1} files failed to upload." />
    <add key="ExportCompletedText" value="Export completed." />
    <add key="ExportBtnText" value="Export data from Mobideo to project" />
    <add key="ImportBtnText" value="Import data from project to Mobideo" />
    <add key="LogsFolderInCustomerFiles" value="Logs" />
    <add key="DeleteLocalLogFile" value="false" />
  </appSettings> 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GuideServicesQueryApiWebService">
          <security mode="Transport" />
        </binding>
        <binding name="GuideServicesQueryApiWebService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://bazanqa.mobideocloud.com/GuideServices/Api/query.asmx"
        binding="basicHttpBinding" bindingConfiguration="GuideServicesQueryApiWebService"
        contract="Query.GuideServicesQueryApiWebService" name="GuideServicesQueryApiWebService" />
    </client>
  </system.serviceModel>
</configuration>
