<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MobideoEnvironmentUrl" value="https://bazantest.mobideocloud.com" />
    <add key="CustomerTimeZone" value="Israel Standard Time" />
    <add key="UploadFileTarget" value="CustomerFiles" />
    <add key="MobideoUserName" value="IntegrationUser" />
    <add key="MobideoUserPassword" value="123456" />
    <add key="CustomerFilesImportFolderName" value="MSP Import" />
    <add key="CustomerFilesValidationFolderName" value="MSP Validate" />
    <add key="GetTaskPageSize" value="500" />
    <add key="MspFieldsToUpdate" value="Text5|TaskProgressStatus, Date9|Started, Date10|Completed, PercentComplete|ReportedProgress" />
    <add key="MinTaskOutlineLevel" value="3" />
    <add key="TaskReferenceIdSourceFields" value="Text6|0, UniqueID|0" />
    <add key="TaskReferenceIdFormat" value="{0}-{1}" />
    <add key="UpperTabText" value="Mobideo MSP VSTO" />
    <add key="UsernameLabelText" value="Username:" />
    <add key="PasswordLabelText" value="Password:" />
    <add key="LoginBtnText" value="Login" />
    <add key="ImportCompletedText" value="{0} files were uploaded successfully to mobideo. {1} files failed to upload." />
    <add key="ExportCompletedText" value="Export completed." />
    <add key="ExportBtnText" value="Export data from Mobideo to project" />
    <add key="ImportBtnText" value="Import data from project to Mobideo" />
    <add key="LogsFolderInCustomerFiles" value="Logs" />
    <add key="DeleteLocalLogFile" value="false" />
  </appSettings> 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.1.0" newVersion="6.12.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.1.0" newVersion="6.12.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Validation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.6.0.0" newVersion="17.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.6.0.0" newVersion="17.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GuideServicesQueryApiWebService"
          maxReceivedMessageSize="20000000"   
                 maxBufferSize="20000000"  
                 maxBufferPoolSize="20000000">
               <readerQuotas maxDepth="32"   
                 maxArrayLength="200000000"  
                 maxStringContentLength="200000000"/>  
          <security mode="Transport" />
        </binding>
        <binding name="GuideServicesQueryApiWebService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://bazantest.mobideocloud.com/GuideServices/Api/query.asmx" binding="basicHttpBinding" bindingConfiguration="GuideServicesQueryApiWebService" contract="Query.GuideServicesQueryApiWebService" name="GuideServicesQueryApiWebService" />
    </client>
  </system.serviceModel>
</configuration>
