<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="siteName" value="MSP"/>
  <variable name="appName" value="VSTO"/>
  <variable name="envInfo" value="${siteName}${appName}"/>
  <variable name="baseLogFolder" value="C:\logs\app"/>
  <variable name="VerboseLayout" value="${longdate} ${envInfo} ${level:upperCase=true} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
  <targets>
    <target name="fileTrace" xsi:type="File"
            layout="${VerboseLayout}"
            fileName="${baseLogFolder}/${siteName} - ${appName} - Trace.txt"
            archiveFileName="${baseLogFolder}/archives/${siteName} - ${appName} - Trace.{#####}.log.txt"
            archiveAboveSize="10240000"
            archiveNumbering="Sequence" concurrentWrites="false" keepFileOpen="false" encoding="utf-8" maxArchiveFiles="50">
    </target>
    <target name="fileDebug" xsi:type="File"
              layout="${VerboseLayout}"
              fileName="${baseLogFolder}/${siteName} - ${appName} - Debug.txt"
              archiveFileName="${baseLogFolder}/archives/${siteName} - ${appName} - Debug.{#####}.log.txt"
              archiveAboveSize="1024000"
              archiveNumbering="Sequence" concurrentWrites="false" keepFileOpen="false" encoding="utf-8" maxArchiveFiles="20">
    </target>
    <target name="fileInfo" xsi:type="File"
            layout="${VerboseLayout}"
            fileName="${basedir}/logs/${siteName}-${appName}-Info.txt"
            archiveFileName="${baseLogFolder}/archives/${siteName} - ${appName} - Info.{#####}.log.txt"
            archiveAboveSize="1024000"
            archiveNumbering="Sequence" concurrentWrites="false" keepFileOpen="false" encoding="utf-8" maxArchiveFiles="20">
    </target>
    <target name="fileError" xsi:type="File"
              layout="${VerboseLayout}"
              fileName="${baseLogFolder}/${siteName} - ${appName} - Error.txt"
              archiveFileName="${baseLogFolder}/archives/${siteName} - ${appName} - Error.{#####}.log.txt"
              archiveAboveSize="1024000"
              archiveNumbering="Sequence" concurrentWrites="false" keepFileOpen="false" encoding="utf-8" maxArchiveFiles="20">
    </target>
    <target xsi:type="Mail"
          name="Mail"
          layout="${VerboseLayout}"
          html="false"
          addNewLines="true"
          subject="MSP - VSTO"
          to="niv@mobideo.com"
          cc="tamir@mobideo.com"
          from="guide@mobideo.com"
          body="${message}"
          smtpUserName=""
          enableSsl="false"
          smtpPassword=""
          smtpAuthentication="none"
          smtpServer="mail.mobideocloud.com"
          smtpPort="25"
          useSystemNetMailSettings="false"
          deliveryMethod="network"
          timeout="10000"
    />
  </targets>
  <rules>
    <!--<logger name="*" writeTo="fileTrace" minlevel="Trace" maxlevel="Trace"/>-->
    <!--<logger name="*" writeTo="fileDebug" minlevel="Debug" maxlevel="Error"/>-->
    <logger name="*" writeTo="fileInfo" minlevel="Info" maxlevel="Error"/>
    <logger name="*" writeTo="fileError" minlevel="Error" maxlevel="Error"/>
    <!--<logger name="*" writeTo="Mail" minlevel="Fatal" maxlevel="Fatal"/>-->
  </rules>
</nlog>