<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.3.0" targetFramework="net472" />
  <package id="Aspose.Tasks" version="22.12.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.12.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.12.1" targetFramework="net472" />
  <package id="Mobideo.Core" version="1.0.40.12" targetFramework="net472" />
  <package id="Mobideo.Core.Data" version="1.0.32" targetFramework="net472" />
  <package id="Mobideo.Guide.Content" version="20.2.2.33" targetFramework="net472" />
  <package id="Mobideo.Guide.GuideML" version="3.17.14.31" targetFramework="net472" />
  <package id="Mobideo.Guide.Identity" version="20.2.2.33" targetFramework="net472" />
  <package id="Mobideo.Guide.Services.Client" version="20.2.2.71" targetFramework="net472" />
  <package id="Mobideo.Guide.Services.Common" version="20.2.2.40" targetFramework="net472" />
  <package id="Mobideo.Guide.Services.Contracts" version="20.2.3.105" targetFramework="net472" />
  <package id="Mobideo.Identity" version="1.0.10" targetFramework="net472" />
  <package id="Mobideo.Packaging" version="3.0.5" targetFramework="net472" />
  <package id="Mobideo.Repository.Client" version="20.1.0.33" targetFramework="net472" />
  <package id="Mobideo.Repository.Contracts" version="20.1.0.31" targetFramework="net472" />
  <package id="Mobideo.Studio.Common" version="19.2.1.17" targetFramework="net472" />
  <package id="Mobideo.Studio.Editor" version="20.3.0.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="NLog" version="4.7.5" targetFramework="net472" />
  <package id="RestSharp" version="106.11.7" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="7.0.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.7.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="7.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net472" />
</packages>